/* warna latar belakang */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Judul */
h1 {
    color: #333;
    font-size: 28px;
}

/* paragraf */
p {
    color: #555;
    font-size: 18px;
}

/* link */
a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background-color: #0056b3;
}
